@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, div, section, article {
    font-family: 'Nunito', sans-serif;
}
.erreur{
    color: red;
}

h1{
   text-align: center;
    border-radius: 8px;
    height: 100px;
    width: 300px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 0;
    height: 32px;
    background-color: brown;
    color: white;
}

header nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header a {
    color: white;
}

.uk-badge a {
    text-decoration: none;
}

header a:hover {
    color: white;
    text-shadow: 1px 1px orange;
}

header a:active {
    color: white;
    text-shadow: 1px 1px yellow;
}

header a:visited {
    color: white;
}


#connexion {
    position: fixed;
    right: -150px;
}

#contenu {
    margin-top: 120px;
    width: 98%;
    display: grid;
    gap: 2%;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

}
#contenus{
    margin-top: 120px;
    width: 98%;
}

#logo {
    position: fixed;
    left: 10px;
    top: 16px;
    width: 64px;
}

.remarque {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.centre {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}



#panier{
    width: 10%;
    margin-right: 7%;
}

.imagesDuJeu img{
    height: 150px;
    width: auto;
}
.imagesDuJeu, .unJeu, .editeurDuJeu, .dureeDuJeu, .ajout_panier{
text-align: center;
align-items: center;
}
   
.unJeu a {
    text-decoration: none;
}
.unJeu{
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    border-radius: 7px;
    border: solid 3px rgba(83, 83, 83, 0.616); 
    width: 440px;
    color: black;
    

}

.unJeu:hover{
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
  transition: 0.4s;
  border: solid 3px brown;
  }

.nomDuJeu{
    top: 10px;
    left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.ajout_panier{
margin-right: auto;
margin-left: auto;
background-color: brown;
width: 200px;
height: 40px;
border-radius: 5px;
}

.ajout_panier a {
    color: white;
}
.ajout_panier:hover{
    background-color: #CC6666;
    width: 200px;
    height: 40px;
}

input[type=text], [type=password], textarea {
    width: 100%;
    padding: 12px;
    background: #f2f2f2;
    border: solid 4px #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #161616;
  }
  
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin-top: 80px;

  }

  label{
      font-weight: bold;
  }
.fondRouge {
    background-color: brown;
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
    text-decoration: none;
    color: #fff;
   }

.fondRouge a{
    color: #fff;
}

#commande{
    display: flex;
    justify-content: center;
}

#tablePanier{
    margin:auto;
}


td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: brown;
    color: white;
}

.date{
    margin-top: 10%;
}